config hapt 'global'
	option host                     'address:8123'
	option token                    ''
	option consider_home_connect    '86400'
	option consider_home_disconnect '60'
	option device_id_prefix         ''
#	list   wifi_interfaces          'wlan0'
#	list   wifi_interfaces          'wlan1'
